  <form id="state1">
    <block>
      <audio src="1.wav">
        Welcome to i Pro global, a leading services company!
        <break/>
      </audio>
      <audio src="1.wav">
        Thank you for calling us.  Goodbye!
        <break/>
      </audio>
      <!--
      <goto next="/generator/state/2"/>
      -->
    </block>
  </form>
